<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ver Total</li>
  </ol>
</nav>
<h1>Total Vendido</h1>
{{#each rows}}
    <h1>{{this.total}}</h1>
{{/each}}